* {
    margin:0;
    padding:0;
}
body{
    overflow:hidden;
    background-color:#fff;
}
#svg2 {width:100%!important;height:100vh!important;background:transparent}

.fish-eye {fill:yellow;}
.fish-head {fill:yellow;}
.fish-body1 {fill:red}
.fish-body2 {fill:violet}
.fish-body3 {fill:green}
.fish-body4 {fill:gold}
.fish-body5 {fill:greenyellow}
.fish-tail {fill:blueviolet}
.fish-top {fill:aquamarine}
.fish-botton {fill:aquamarine}

.picker {position:absolute;top:0;left:0;z-index:100;}
.picker > input[type=color] {width:30px;height:30px;border-radius:100%;border-color:transparent}