* {
    margin:0;
    padding:0;
}
body{
    overflow:hidden;
    background-color:#fff;
}
#svg2 {position:relative;width:400px!important;height:400px!important;background:transparent}

.fish-eye {opacity:.9;fill:none;mix-blend-mode:multiply;}
.fish-head {opacity:.9;fill:#fff;mix-blend-mode:multiply;}
.fish-body1 {opacity:.9;fill:#fff;mix-blend-mode:multiply;}
.fish-body2 {opacity:.9;fill:#fff;mix-blend-mode:multiply;}
.fish-body3 {opacity:.9;fill:#fff;mix-blend-mode:multiply;}
.fish-body4 {opacity:.9;fill:#fff;mix-blend-mode:multiply;}
.fish-body5 {opacity:.9;fill:#fff;mix-blend-mode:multiply;}
.fish-tail {opacity:.9;fill:#fff;mix-blend-mode:multiply;}
.fish-top {opacity:.9;fill:#fff;mix-blend-mode:multiply;}
.fish-bottom {opacity:.9;fill:#fff;mix-blend-mode:multiply;}

.picker {z-index:100;}
.picker > input[type=color] {width:30px;height:30px;border-radius:100%;border-color:transparent}