* {
    margin:0;
    padding:0;
}
body{
    overflow:hidden;
    background-color:#fff;
}
#svg2 {width:400px!important;height:400px!important;background:transparent}

.fish-eye {fill:#fff;mix-blend-mode:hue;}
.fish-head {fill:yellow;mix-blend-mode:hue;}
.fish-body1 {fill:red;mix-blend-mode:hue;}
.fish-body2 {fill:violet;mix-blend-mode:hue;}
.fish-body3 {fill:green;mix-blend-mode:hue;}
.fish-body4 {fill:gold;mix-blend-mode:hue;}
.fish-body5 {fill:greenyellow;mix-blend-mode:hue;}
.fish-tail {fill:blueviolet;mix-blend-mode:hue;}
.fish-top {fill:aquamarine;mix-blend-mode:hue;}
.fish-botton {fill:aquamarine;mix-blend-mode:hue;}

.picker {z-index:100;}
.picker > input[type=color] {width:30px;height:30px;border-radius:100%;border-color:transparent}